@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge 
    scrollbar-width: none; /* Firefox 
}

/* Optional: Prevent scrollbar space from being visible in IE and Edge 
.hide-scrollbar {
    overflow: -moz-scrollbars-none; /* Old Firefox 
} */
html {
    scroll-behavior: smooth;
}
/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }
  
  /* Horizontal scrollbar */
  ::-webkit-scrollbar:horizontal {
    height: 8px; /* Horizontal scrollbar height */
  }
  
::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    background: #3a3b44;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    background: #505160;
}
