@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge 
    scrollbar-width: none; /* Firefox 
}

/* Optional: Prevent scrollbar space from being visible in IE and Edge 
.hide-scrollbar {
    overflow: -moz-scrollbars-none; /* Old Firefox 
} */

/* ============================================================
              SCROLL SMOTH WHEN JUMP
============================================================*/
html {
    scroll-behavior: smooth;
}

/* ============================================================
                 GENERAL SCROLL BAR CUSTOM
============================================================*/
/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
}
  
/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    background: #3a3b44;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    background: #505160;
}


/* ============================================================
                 SPECIFIC SCROLL BAR CUSTOM
============================================================*/
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #00000000;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: oklch(79.9% 0.00 275.3);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: oklch(96.3% 0.00 99.3);
}



/* ============================================================
              CUSTOM CLASS FOR ANIMATION ON HOVER
============================================================*/
.miquel-opacity {
  opacity: 0.7;
  transition: opacity 300ms, transform 300ms;
}

.miquel-opacity:hover {
  opacity: 1;
}

/* ============================================================
                 CUSTOM CLASS FOR GRADIENT
============================================================*/
/* Gradient blackground with smooth transition*/
@layer components {
  .bg-miquel-gradient {
    @apply duration-300 transition-all 
           bg-[length:500%_500%] 
           bg-[position:0%_100%] 
           hover:bg-[position:0%_0%]
           bg-gradient-to-b 
           from-miquel-black-500 
           to-transparent;
  }
}

/* ============================================================
                SPINNING LOADING ANIMATION
============================================================*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) 0    0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px,
    #00000055;
  background-repeat:no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}
@keyframes l12 {
  100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}