@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge 
    scrollbar-width: none; /* Firefox 
}

/* Optional: Prevent scrollbar space from being visible in IE and Edge 
.hide-scrollbar {
    overflow: -moz-scrollbars-none; /* Old Firefox 
} */

/* ============================================================
              SCROLL SMOTH WHEN JUMP
============================================================*/
html {
    scroll-behavior: smooth;
}

.no-spinner {
  appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ============================================================
                 GENERAL SCROLL BAR CUSTOM
============================================================*/
/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
}
  
/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track{
    background: #00000000;
}
::-webkit-scrollbar-thumb{
    background: #3a3b44;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    background: #505160;
}


/* ============================================================
                 SPECIFIC SCROLL BAR CUSTOM
============================================================*/
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #00000000;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: oklch(79.9% 0.00 275.3);
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: oklch(96.3% 0.00 99.3);
}



/* ============================================================
              CUSTOM CLASS FOR ANIMATION ON HOVER
============================================================*/
.miquel-opacity {
  opacity: 0.7;
  transition: opacity 300ms, transform 300ms;
}

.miquel-opacity:hover {
  opacity: 1;
}


.miquel-transition {
  transition-property: opacity, transform, height, background-color, border-color, filter;
  transition-duration: 300ms;
}

/* ============================================================
                 CUSTOM CLASS FOR GRADIENT
============================================================*/
/* Gradient blackground with smooth transition*/
@layer components {
  .miquel-frame-light {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition-property: box-shadow;
    transition-duration: 300ms;
  }

  .miquel-frame-light:hover {
    box-shadow:
      inset 0 0 0 1px rgba(0, 0, 0, 0.1),
      0 0 0 2px oklch(41.7% 0.02 281.0);
  }

  .miquel-frame-dark {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    transition-property: box-shadow;
    transition-duration: 300ms;
  }

  .miquel-frame-dark:hover {
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.2),
      0 0 0 2px oklch(41.7% 0.02 281.0);
  }

  .bg-miquel-gradient {
    @apply duration-300
           bg-[length:500%_500%] 
           bg-[position:0%_100%] 
           hover:bg-[position:0%_0%]
           bg-gradient-to-b 
           from-miquel-black-500 
           to-transparent;
    transition-property: background-position;
  }
}



/* ============================================================
                SMOKING ANIMATION
============================================================*/
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

.animate-float {
  animation: float linear infinite;
}



/* ============================================================
                SPINNING LOADING ANIMATION
============================================================*/
/* HTML: <div class="loader"></div> */
.loader-blob {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) 0    0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px,
    #00000022;
  background-repeat:no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}
@keyframes l12 {
  100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}

/* HTML: <div class="loader"></div> */
.loader-circle {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-right-color: #000;
  animation: l15 1s infinite linear;
}
.loader-circle::before,
.loader-circle::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader-circle::after {
  margin:12px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}
